* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.map-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem;

  position: relative;
  max-width: 100%;
  height: auto;
}

.map-container img {
  width: 100%;

  height: auto;
  display: block;

  background-size: contain;
  box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.75);
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.image-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(assets/Photos/AlexandreFoucher.jpeg);

  transform: translateY(-3.3rem);
}

.pointer-profile {
  display: grid;
  place-items: center;
}

.pointer-profile img {
  width: 3.5rem;
}

.profile {
  max-width: 23rem;
}

.infoProfile p {
  text-align: justify;
}

.info-profile {
  background-color: rgb(166, 166, 166);
  padding: 0.5rem;
  border: 0.5rem solid rgb(115, 115, 115);
  border-radius: 15px;
}
